@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1880px;
  padding: 20px;
  margin: 0 auto;
}

.cards {
  display: flex;
  gap: 10px;
  margin: auto;
  overflow: hidden;
  margin-top: 20px;
  height: 85vh;
}

.card {
  flex-basis: 100px;
  position: relative;
  overflow: hidden;
  transition: flex 0.5s ease-in-out;
  cursor: pointer;
  height: 100%;
  border-radius: 5px;
}
.card:hover:not(.active) {
  flex-basis: 120px;
}
.active {
  flex: 4 !important;
}
.card .card-thumbnail {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.card-blur:not(.active .card-blur) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
  backdrop-filter: blur(20px);
  z-index: 33;
}
.card-plus {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  padding: 10px;
  border-radius: 50px;
  background-color: rgb(215 215 215 / 15%);
  border: 1px solid rgba(215, 215, 215, 0.507);
  color: #fff;
  position: absolute;
  left: 50%;
  bottom: 25px;
  transform: translateX(-50%);
  z-index: 35;
  transition: all 0.4s ease;
}
.card:hover .card-plus {
  background-color: #fff;
  border: 1px solid #fff;
  color: #0c0c0c;
}
.card.active .card-plus {
  display: none;
}

.card-arrows {
  display: none;
  align-items: center;
  gap: 10px;
  position: absolute;
  right: 32px;
  bottom: 25px;
  z-index: 22;
}
.card.active .card-arrows {
  display: flex;
}
.card-arrows .next,
.card-arrows .prev {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  padding: 10px;
  border-radius: 50px;
  background-color: rgb(215 215 215 / 15%);
  border: 1px solid rgba(215, 215, 215, 0.507);
  color: #fff;
  transition: all 0.4s ease-in-out;
}
.card-arrows .next:hover,
.card-arrows .prev:hover {
  background-color: #fff;
  border: 1px solid #fff;
  color: #0c0c0c;
}
.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  position: absolute;
  height: 100%;
  z-index: 11;
  transition: all .8s ease-in-out;
  padding: 25px;
}
.card-info h2 {
  font-family: "Bakbak One", serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 52px;
  text-transform: capitalize;
  color: #fff;
}
.card-info h2:nth-child(2) {
  color: #EB1F4F;
}
.card-info p {
  color: #E2E3F4;
  font-family: "Roboto Mono", serif;
  font-weight: 400;
  font-size: 18px;
  width: 40%;
  padding: 15px 0 40px 0;
}
.card-info .webase-btn {
  color: #fff;
  font-family: "Rubik", serif;
  width: fit-content;
  display: inline;
  background-color: #EB1F4F;
  padding: 12px 30px;
  border-radius: 10px;
  border: 0;
  outline: 0;
  margin-bottom: 30px;
}

.card-info .content-images {
  display: flex;
  align-items: center;
  gap: 25px;
  position: absolute;
  bottom: 40px;
  left: 25px;
}
.card-info  .content-images img {
  width: 65px;
  height: 65px;
  object-fit: contain;
}
.progress-container {
  width: 30%;
  height: 2px;
  background: rgba(255, 255, 255, 0.2);
}
.progress-bar {
  width: 0%;
  height: 100%;
  background: #ffffff;
}



@media screen and (max-width: 1024px) {
  .card {
    flex-basis: 52px;
  }
  .card:hover:not(.active) {
    flex-basis: 65px;
  }
}