@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1880px;
  padding: 20px;
  margin: 0 auto;
}

.webase-cards {
  display: flex;
  gap: 10px;
  margin: auto;
  overflow: hidden;
  margin-top: 20px;
  height: 85vh;
}

.webase-card {
  flex-basis: 100px;
  position: relative;
  overflow: hidden;
  height: 100%;
  border-radius: 5px;
  transition: flex .5s cubic-bezier(.4, .2, .4, 1);
}
.webase-card:hover:not(.active) {
  flex-basis: 120px;
}
.active {
  flex: 4 !important;
}
.webase-card .webase-card-thumbnail {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  object-fit: cover;
}
.webase-card-blur:not(.active .webase-card-blur) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
  backdrop-filter: blur(20px);
  z-index: 33;
}
.webase-card-name {
  display: flex;
  align-items: center;
  gap: 10px;
  width: max-content;
  color: #fff;
  position: absolute;
  right: 50px;
  top: 32px;
  font-family: "Roboto Mono", serif;
  font-size: 14px;
  transform: rotate(-90deg);
  transform-origin: right;
  z-index: 38;
  transition-duration: .5s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4,0.2,0.4,1);
}
.webase-card:hover .webase-card-name {
  transform: rotate(-90deg) translateY(-10px);
}
.webase-card.active .webase-card-name {
  top: 35px;
  transform: rotate(0) translateX(0);
  right: 32px;
}
.webase-card-name span {
  position: relative;
}
.webase-card-name span::after {
  content: '';
  position: absolute;
  height: 10px;
  width: 10px;
  border: 2px solid rgba(255, 255, 255, 0.772);
  border-radius: 50%;
  z-index: 38;
  top: 3px;
  margin-left: 6px;
}
.webase-card-plus {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
  background-color: rgb(215 215 215 / 15%);
  border: 1px solid rgba(215, 215, 215, 0.507);
  color: #fff;
  position: absolute;
  left: 50%;
  bottom: 25px;
  transform: translateX(-50%);
  z-index: 35;
  transition: all 0.4s ease;
}
.webase-card:hover .webase-card-plus {
  background-color: #fff;
  border: 1px solid #fff;
  color: #0c0c0c;
}
.webase-card.active .webase-card-plus {
  display: none;
}

.webase-card-arrows {
  display: none;
  align-items: center;
  gap: 10px;
  position: absolute;
  right: 32px;
  bottom: 25px;
  z-index: 22;
}
.webase-card.active .webase-card-arrows {
  display: flex;
}
.webase-card-arrows .next,
.webase-card-arrows .prev {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
  background-color: rgb(215 215 215 / 15%);
  border: 1px solid rgba(215, 215, 215, 0.507);
  color: #fff;
  transition: all 0.4s ease-in-out;
}
.webase-card-arrows .next:hover,
.webase-card-arrows .prev:hover {
  background-color: #fff;
  border: 1px solid #fff;
  color: #0c0c0c;
}
.webase-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  position: absolute;
  height: 100%;
  z-index: 11;
  transition: all .8s ease-in-out;
  padding: 25px;
  width: 65vw;
}
.webase-card-info h2 {
  font-family: "Bakbak One", serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 52px;
  text-transform: capitalize;
  color: #fff;
}
.webase-card-info h2:nth-child(2) {
  color: #EB1F4F;
}
.webase-card-info p {
  color: #E2E3F4;
  font-family: "Roboto Mono", serif;
  font-weight: 400;
  font-size: 18px;
  width: 40%;
  padding: 15px 0 40px 0;
}
.webase-card-info .webase-btn {
  color: #fff;
  font-family: "Rubik", serif;
  width: fit-content;
  display: inline;
  background-color: #EB1F4F;
  padding: 15px 30px;
  border-radius: 10px;
  cursor: pointer;
  border: 0;
  outline: 0;
  margin-bottom: 30px;
}

.webase-content-images {
  display: flex;
  align-items: center;
  gap: 25px;
  position: absolute;
  bottom: 40px;
  left: 25px;
}
.webase-content-images img {
  width: 65px;
  height: 65px;
  object-fit: contain;
}
.progress-container {
  width: 370px;
  height: 2px;
  background: rgba(255, 255, 255, 0.2);
}
.progress-bar {
  width: 0%;
  height: 100%;
  background: #ffffff;
}
.global-arrow  {
  display: none;
  align-items: center;
  gap: 10px;
}
.global-arrow .global-next, .global-arrow .global-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  padding: 10px;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
  background-color: rgb(215 215 215 / 15%);
  border: 1px solid rgba(215, 215, 215, 0.507);
  color: #fff;
  transition: all 0.4s ease-in-out;
}

@media screen and (max-width: 1440px) {
  .webase-card-info p {
    width: 55%;
  }
}

@media screen and (max-width: 1024px) {
  .webase-card {
    flex-basis: 52px;
  }
  .webase-card:hover:not(.active) {
    flex-basis: 65px;
  }
  .webase-card-name {
    right: 28px;
  }
  .webase-card:hover .webase-card-name {
    transform: rotate(-90deg) translateY(-5px);
  }
  .webase-card.active .webase-card-name {
    top: 35px;
    transform: rotate(0) translateX(0);
    right: 32px;
  }
  .webase-card-info p {
    width: 90%;
  }
}
@media screen and (max-width: 992px) {
  .webase-card-info h2 {
    font-size: 38px;
    line-height: 38px;
  }
  .webase-card-info p {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .webase-cards {
    position: relative;
    height: 65vh;
  }
  .webase-card {
    position: absolute;
    width: 100%;
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: translateX(100%);
  }
  .webase-card-info {
    width: 100vw;
    justify-content: start;
    padding-top: 45px;
  }
  .webase-card-name {
    position: relative;
    left: 25px;
    top: 25px;
    transform: none;
    transition-timing-function: initial;
  }
  .webase-card.active .webase-card-name {
    transform: none;
    position: relative;
    left: 25px;
    top: 25px;
  }
  .webase-card-name span::after {
    z-index: 38;
    left: -20px;
    top: 3px;
    margin-left: 0;
  }
  .webase-card-name span {
    margin-left: 22px;
  }
  .webase-card.active {
    transform: translateX(0%);
    opacity: 1;
  }
  .webase-card.slide-left {
    transform: translateX(-100%);
  }
  .webase-card.slide-right {
    transform: translateX(100%);
  }
  .webase-card-info h2 {
    font-size: 28px;
    line-height: 28px;
  }
  .progress-container {
    width: 90%;
  }
  .webase-card-info p {
    padding-bottom: 20px;
  }
.webase-content-images {
    left: 25px;
    bottom: 85px;
  }
  .webase-cards-wrapper {
    position: relative;
  }
  .webase-card.active .webase-card-arrows {
    display: none;
  }
  .webase-card-arrows {
    right: initial;
    left: 25px;
  }
  .global-arrow {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 20px;
    left: 25px;
  }
  .global-prev.arrow-disable,
  .global-next.arrow-disable {
    opacity: .3;
  }
}
